

<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="parcours/create" class="nav-link" routerLinkActive="active">
          Créer un parcours
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="parcours" class="nav-link" routerLinkActive="active">
          parcours
        </a>
      </li> 
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>