
<div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <label class="col-md-4">Spectacle</label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label class="col-md-4">Point numero </label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label class="col-md-4">Latitude point</label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label class="col-md-4">Longitude point</label>
            <input type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label class="col-md-4">Point numero </label>
            <input type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label class="col-md-4">Latitude point</label>
            <input type="text" class="form-control" />
          </div>
          <div class="form-group">
              <label class="col-md-4">Longitude point</label>
              <input type="text" class="form-control" />
            </div>

        
      </form>
    </div>
  </div>